<!--<p>{{#each user.photos}}<img src="{{ value }}" alt="Photo of {{ user.displayName }}.">{{/each}}</p>
<p>ID: {{ user.id }}</p>
<p>Name: {{ user.firstname }}</p>
<p>Email: {{user.email}} </p>
<p>Teamid: {{user.teamid}}</p>
-->
<div id = "wrapper"></div>
<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/sb-admin.css" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script type="text/javascript" src="/js/combined.js"></script>